﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.common-container{
    margin:0 auto;
    width:85%;
}

.common-header{
    margin-top:30px;
    margin-bottom:45px;
    margin-left:30px;
}

.common-header > .well{
    padding:10px;
}

#btn-new-animal{
    display:inline-block;
}

.container-fluid > .row{
    margin-bottom:10px;
}

.modal-body .container-fluid,
.modal-body .container{
    margin:0 auto;
    width:70%;
}

.alert{
    margin:0 auto;
    width: 90%;
    margin-top:15px;
}

/* datatable styles */
.dataTables_length{
    margin-top:5px;
    margin-left:10px;
}

a[id^="view-animal"],
a[id^="drop-animal"],
a[id^="update-animal"]{
    visibility:hidden;
    display:inline-block;
    margin-right:3px;
}

.zoo-table-outline{
    border:1px solid lightgray;
    border-radius:5px;
    border-spacing:5px;
    padding:10px;
}

tbody > tr:hover a[id^="view-animal"],
tbody > tr:hover a[id^="drop-animal"],
tbody > tr:hover a[id^="update-animal"]{
    visibility:visible;
}

#dt-animals{
    width:inherit;
}

/* datatable plugins styles */
.column-filter-widget > select[disabled]{
    background-color:lightgray;
}

div.column-filter-widget > a.filter-term{
    margin-top:3px;
}

/* custom flex header */
.composite-header{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.composite-header-1{
    flex:auto;
    flex-grow:0;
}

.composite-header-2{
    flex:auto;
    flex-grow:0.9;
}

.composite-header-2 > h1{
    font-family:'Segoe UI';
}

.composite-header-3{
    flex:auto;
    flex-grow:0;
}

.composite-header .img-responsive{
    max-height:100px;
}
