﻿@model AnimalsMVC.Models.Animal
@{ 
    var types = AnimalsMVC.Infrastructure.AnimalDetailsHelper.GetAnimalTypes().Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() });
    var colors = AnimalsMVC.Infrastructure.AnimalDetailsHelper.GetSkinColors().Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() });
    var locations = AnimalsMVC.Infrastructure.AnimalDetailsHelper.GetAnimalLocations().Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() });
}

@using (Ajax.BeginForm("UpdateAnimal", new { }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "hex", OnSuccess = "OnEditAnimalComplete" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="input-group">
                @Html.HiddenFor(m=>m.Id)
            </div>
            <div class="input-group col-md-10">
                <span class="input-group-addon" id="basic-addon1">Наименование</span>
                @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="input-group col-md-10">
                <span class="input-group-addon" id="basic-addon1">Тип</span>
                @Html.DropDownListFor(m => m.TypeId, types, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="input-group col-md-10">
                <span class="input-group-addon" id="basic-addon1">Цвет</span>
                @Html.DropDownListFor(m => m.ColorId, colors, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="input-group col-md-10">
                <span class="input-group-addon" id="basic-addon1">Область обитания</span>
                @Html.DropDownListFor(m=>m.LocationId, locations, new { @class = "form-control"})
            </div>
        </div>

        <div class="row">
            <input type="submit" class="form-control btn-success" value="Сохранить" />
        </div>
    </div>
}

@if (ViewData.ModelState["msg-error"] != null && ViewData.ModelState["msg-error"].Errors.Count() > 0) 
{ 
   <div class="alert alert-danger"> 
      <a class="close" data-dismiss="alert">×</a> 
      <h5 class="alert-heading">Errors</h5> 
      @Html.ValidationSummary(false)
   </div>
} 

@if (ViewData.ModelState["msg-success"] != null && ViewData.ModelState["msg-success"].Errors.Count() > 0)
{
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        <h5 class="alert-heading">Result</h5>
        @Html.ValidationSummary(false)
    </div>
} 