﻿@model AnimalsMVC.Models.Animal
@{
    var types = AnimalsMVC.Infrastructure.AnimalDetailsHelper.GetAnimalTypes();
    var colors = AnimalsMVC.Infrastructure.AnimalDetailsHelper.GetSkinColors();
    var locations = AnimalsMVC.Infrastructure.AnimalDetailsHelper.GetAnimalLocations();
}

<div class="common-header">
    <h2>Добавление записи о животном</h2>
</div>

<div class="common-container">
    @using (Html.BeginForm("AddAnimal", "Zoo", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <div class="form-group">
                <label for="formGroupInputLarge1" class="col-sm-2 control-label">Наименование</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Полное название" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="formGroupInputLarge1" class="col-sm-2 control-label">Тип</label>
                <div class="col-sm-10">
                    <select name="TypeId" class="form-control">
                        <option>None</option>
                        @foreach (var item in types)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="formGroupInputLarge1" class="col-sm-2 control-label">Цвет</label>
                <div class="col-sm-10">
                    <select name="ColorId" class="form-control">
                        <option>None</option>
                        @foreach (var item in colors)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="formGroupInputLarge1" class="col-sm-2 control-label">Место обитания</label>
                <div class="col-sm-10">
                    <select name="LocationId" class="form-control">
                        <option>None</option>
                        @foreach (var item in locations)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-success btn-lg">Сохранить</button>
                </div>
                <div class="col-sm-2">
                    @Html.ActionLink("Назад", "Catalog", null, new { @class = "btn btn-primary btn-lg" })
                </div>
            </div>
        </div>
    }
</div>

@if (ViewData.ModelState["msg-error"] != null && ViewData.ModelState["msg-error"].Errors.Count() > 0)
{
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">×</a>
        <h5 class="alert-heading">Errors</h5>
        @Html.ValidationSummary(false)
    </div>
} 