﻿
@{
    ViewBag.Title = "Каталог зверей";
}

<div class="common-header">
    <div class="well">
        <div class="composite-header">
            <div class="composite-header-1">
                <img src="~/Content/images/dte.png" class="img-responsive" alt="Dora" />
            </div>

            <div class="composite-header-2">
                <h1>Каталог зверей</h1>
            </div>

            <div class="composite-header-3">
                @Html.ActionLink("Добавить новое животное", "AddAnimal", null, new { @class = "btn btn-info btn-lg" })
            </div>
        </div>
    </div>
</div>

<div class="common-container zoo-table-outline">
    <div class="container-fluid">
        <table id="dt-animals" class="hover"></table>
    </div>
</div>

<!-- 'edit' animal modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-edit-animal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Редактирование записи</h4>
            </div>

            <div class="modal-body" id="hex">
                @Html.Partial("_UpdateAnimal")
            </div>
        </div>
    </div>
</div>

<!-- 'show' animal modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-show-animal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Информация о записи</h4>
            </div>

            <div class="modal-body" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="input-group col-md-10">
                            <span class="input-group-addon" id="basic-addon1">Наименование</span>
                            <input type="text" class="form-control" id="info-animal-name" aria-describedby="basic-addon1" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group col-md-10">
                            <span class="input-group-addon" id="basic-addon1">Тип</span>
                            <input type="text" class="form-control" id="info-animal-type" aria-describedby="basic-addon1" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group col-md-10">
                            <span class="input-group-addon" id="basic-addon1">Цвет шкуры</span>
                            <input type="text" class="form-control" id="info-animal-color" aria-describedby="basic-addon1" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group col-md-10">
                            <span class="input-group-addon" id="basic-addon1">Область обитания</span>
                            <input type="text" class="form-control" id="info-animal-location" aria-describedby="basic-addon1" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть окно</button>
            </div>
        </div>
    </div>
</div>